*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color:ghostwhite;
color: black;
}
body{
	background-color:#ff99bb;
	color: white;
}
.glyphicon{
	font-size: 30px;
	color:#aaffbb; 
}

.center{
	width: 90%;
	background-color: grey;

}
.container
{
	background-color: blue;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #61122F;
}
.navbar-brand{
font-size: 30px;	
}
